.first_button,
.second_button{
  display: inline-block;
  color: $white_color;
  padding: 10px 30px;;
  border-radius: 30px;
  font-size: $font_22;
  margin-right: 10px;
}
 .first_button{
  background: transparent;
   border: 2px solid $white_color;
 }
 .second_button{
   font-size: $font_22;
   border: 2px solid $blue_first;
   background-color: $blue_first;
 }
