header{
  position: $fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

    .nav_top,
    .nav_sub
    {
      height: 60px;
      width: 100%;
      background-color: $white_color;
    }
    .nav_sub{
    opacity: 0.7;
    }
}
