$white_color: #fff;
$blue_first: #1473e6;
$blue_second: #166bd2;

$absolute: absolute;
$relative: relative;
$fixed: fixed;

$flex: flex;

$auto: auto;
$cen: center;
$lef: left;
$rig: right;
$top: top;
$bot: bottom;
$mid: middle;

$font_16: 16px;
$font_18: 18px;
$font_22: 22px;
$font_26: 26px;
$font_30: 30px;
$font_32: 32px;
$font_40: 40px;

$bol: bold;
